@import 'config';
@import 'media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
  color: $text-color;
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  color: $heading-color;
  line-height: 2.7rem;
}
p {
  padding-top: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: $text-color;
  font-size: 1.5rem;
}
.img {
  width: 100%;
}
.btn {
  display: inline-block;
  color: $white;
  background-color: $primary-color;
  padding: 1.5rem 3.5rem;
  border-radius: 3.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 1s;
  border: 0.1rem solid $primary-color;
}
.btn:hover {
  color: $primary-color;
  background-color: $white;
}
.container {
  max-width: $website-width;
  margin: 0 auto;
  padding: 0 1rem;
  // background-color: $primary-color;
}
.bottom-line {
  height: 0.2rem;
  width: 5rem;
  margin: 2rem auto 0.5rem;
  border-radius: 1rem;
  background-color: $heading-color;
  text-align: center;
}

#home {
  position: relative;
  .nav-bar {
    padding: 3rem 1rem;
    @include flexCenter(row);
    justify-content: space-between;
    .logo {
      @include flexCenter(row);
      .logo-sign {
        @include flexCenter(column);
        height: 2.5rem;
        width: 2.5rem;
        background-color: $primary-color;
        padding: 1.5rem;
        border-radius: 50%;
        color: $white;
        margin-right: 1rem;
        span {
          font-weight: 600;
          font-size: 2rem;
        }
      }
      h1 {
        color: $heading-color;
        font-size: 1.7rem;
        font-weight: 600;
      }
    }
    ul {
      @include flexCenter(row);
      li {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: 300;
        a {
          &.active,
          &:hover {
            color: $heading-color;
            font-weight: 600;
          }
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
  .header-content {
    @include flexCenter(row);
    justify-content: space-between;
    padding: 3rem 1rem;
    .text-content {
      max-width: 500px;
      h1 {
        font-size: 3.2rem;
      }
      .btn {
        margin: 2.5rem 0;
      }
    }
    img {
      min-width: 500px;
    }
  }
  img.vertical-three-dots {
    position: absolute;
    top: 8.5rem;
    z-index: -1;
    // width: 100;
  }
}

#services {
  @include flexCenter(column);
  background: url('../img/wave-service.svg') no-repeat;
  background-position: left;
  background-size: contain;
  margin: 2rem auto;
  position: relative;
  p {
    font-size: 1.2rem;
  }
  .intro {
    padding: 3rem 1rem;
    text-align: center;
    width: 100%;
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
  .service-boxes {
    width: 100%;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin: 0 auto;
    .service {
      box-shadow: 0 0 1rem rgba(234, 242, 253, 0.5);
      background-color: $white;
      border-radius: 1.5rem;
      padding: 2.5rem;
      & img {
        height: 95px;
        z-index: 1;
      }
      h2 {
        margin-top: 3rem;
      }
    }
  }
  .button {
    // padding: 3rem 1rem;
    a {
      background-color: $white;
      color: $primary-color;
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
  .dots-service {
    position: absolute;
    right: 0;
    top: 52%;
    z-index: -1;
  }
}

#provider-app {
  margin: 5rem auto;
  a {
    background-color: $white;
    color: $primary-color;
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
  p {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .bottom-line {
    display: block;
    margin-left: 0;
  }
  .provider-content {
    @include flexCenter(row-reverse);
    justify-content: space-between;
    padding: 3rem 1rem;
    .text-content {
      max-width: 500px;
      .btn {
        margin: 2.5rem 0;
      }
    }
    img {
      min-width: 500px;
    }
  }
  .app-content {
    padding: 3rem 1rem;
    @include flexCenter(row);
    justify-content: space-between;
    .text-content {
      max-width: 500px;
      .btn {
        margin: 2.5rem 0;
      }
    }
    img {
      min-width: 500px;
    }
  }
}
#testimonial-slider {
  position: relative;
  img.dots-outside {
    position: absolute;
    top: 40%;
    left: 1;
    z-index: -1;
  }
  .slider-content {
    position: relative;
    background: $testimonial-bg-color;
    @include flexCenter(column);
    border-radius: 2rem;
    margin: 5rem auto;
    padding: 3rem 4rem;
    .bottom-line {
      background-color: $white;
    }
    h2,
    h3,
    p {
      color: #fff;
    }
    p {
      font-size: 1.1rem;
      font-weight: lighter;
    }
    .customer-info {
      @include flexCenter(row);
      justify-content: space-around;
      margin-top: 2rem;
      width: 100%;
      .customer {
        @include flexCenter(row);
        .name {
          h3,
          p {
            padding: 0;
            margin: 0 1.5rem;
          }
        }
      }
      .testimony {
        max-width: 500px;
      }
    }
    img.dots {
      position: absolute;
      // right: -3%;
      top: 0;
      z-index: 10;
    }
  }
  .dot {
    cursor: pointer;
    height: 0.7rem;
    width: 0.7rem;
    margin: 0 0.7rem;
    background: $dot-color;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}
